body{
	background: #e7f1f4;
	font-family: 'arial';
	color: #999;
}

#cen{
	text-align: center;
	background-color: white;
	height: 250px;
	width: 500px;
	margin: 100px auto 0;
	padding: 75px 60px 75px 60px;
	box-shadow: 0 8px 8px -2px #aaa;
    -moz-box-shadow: 0 8px 8px -2px #aaa;
    -webkit-box-shadow: 0 8px 8px -2px #aaa;
}

#input{
	float: left;
}

#sel{
	float: right;
}

#sub{
	margin-top: 100px;
}

#subbtn{
	transition: 0.5 ease;
	width: 200px;
	height: 50px;
	font-size: 22px;
	background-color: #30a4ca;
	font-weight: bolder;
	color: white;
	border-radius: 10px;
}

#subbtn:hover{
	transition: 0.5 ease;
	background-color: #207996;
	cursor: pointer;
}

form{

}